<!DOCTYPE html>
<html>
<head>
    <title>About</title>
     <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main">
         {{>header}}
         <p>This site was created by Vishnu K.It uses data from mapbox.com and weatherstack.com to show the weather condition.</p>
    <img class="portrait"   src="./img/robo.webp">
    </div>
    {{>footer}}
</body>
</html>